
.textArea 
{
    position: absolute;
    bottom: 0px;
    left: 1175px;
    height: 50vh;
    width: 29.7vw;
    background-color: #dcdcdc92;
    overflow: scroll;
    font-size: larger;

}

.poiList 
{
    position: absolute;
    z-index: 10;
}

.polygonButtons
{
    position: absolute;
    z-index: 10;
    top: 25px;
}

.directionPrintout 
{
    position: relative;
    z-index: 10;
    background-color: #dcdcdc92;
    left: 1174px;
    height: 50vh;
    width: 29.7vw;
    overflow: scroll;
    
}

#directionContainer{
    width: 10vw;
}

.poiPrintout {
    position: relative;
    z-index: 10;
    background-color: #9c0c0c;
    left: 1100px;
    height: 50vh;
    width: 29.8vw;
    overflow: scroll;
}

.filterPolygonButton, .deleteDirectionButton, .deleteButton 
{
    width: 100px;
    cursor: pointer;
    
}

.drawButton, .submitButton
{
    cursor: pointer;
}

#myMap {
    width: 68.9vw; 
    height: 100vh;
}



