
.textArea
{
    position: absolute;
    z-index: 10;
    opacity: 0.9;   
}

.poiList
{
    position: absolute;
    z-index: 10;
}
.polygonButtons
{
    position: absolute;
    z-index: 10;
    top: 25px;
}

.directionPrintout 
{
    position: relative;
    z-index: 10;
    background-color: #ececec;
    opacity: 0.8;
    width: 29vw;
    height: 100vh;
    overflow: scroll;
    float: right;
}

#directionContainer {
    float:inherit;
    min-height: 20vh;
}

.textArea {
    position: relative;
}

.directionButton 
{
    width: 100px;
    cursor: pointer;
    
}

.deleteDirectionButton 
{
    width: 100px;
    cursor: pointer;
}


.submitButton 
{
    
    cursor: pointer;
}